@model ShiftManagerProject.Models.ScheduleParameters

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<string> DayOfWeek = new List<string>(new string[] { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" });
}
<link rel="stylesheet" type="text/css" href="~/Content/ScheduleParameters.css" />

<h2>Create</h2>

@using (Html.BeginForm("Create", "ScheduleParameters"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    <br />
    <div class="alert alert-dismissible alert-success msg">
        <strong>Important!</strong> Only add the addition to each field.
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.ValidationMessageFor(model => model.Day, "", new { @class = "text-danger" })
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Day, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Day, new SelectList(DayOfWeek.ToList()), "-- Select Day --", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DMorning, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.TextBoxFor(model => model.DMorning, new { @Value = "0" })
                @Html.ValidationMessageFor(model => model.DMorning, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DAfternoon, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.TextBoxFor(model => model.DAfternoon, new { @Value = "0" })
                @Html.ValidationMessageFor(model => model.DAfternoon, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DNight, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.TextBoxFor(model => model.DNight, new { @Value = "0" })
                @Html.ValidationMessageFor(model => model.DNight, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
