@using System.Security.Claims
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/LayoutPage.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <title>@ViewBag.Title - NOC Shift Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-brand" style="width:120px;">
                    @Html.ActionLink("NOC Shift Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand logo" })
                    <div class="hidden-lg-up my-2 mr-3">
                    <button class="navbar-toggler side_menubtn " type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                </div>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    @if (System.Web.HttpContext.Current.Session["admin"] != null)
                    {

                        if ((bool)System.Web.HttpContext.Current.Session["admin"] == true)
                        {
                            <li class="nav-item dropdown ml-auto">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: black;display: inline;">Admin</a>
                                <div class="dropdown-menu" x-placement="bottom-start" style="position:absolute; will-change: transform;">
                                    @Html.ActionLink("Settings", "Index", "ScheduleParameters", null, new { @class = "dropdown-item" })
                                    <div class="dropdown-divider"></div>
                                    @Html.ActionLink("Preferences", "ListOfShifts", "FinalShifts", null, new { @class = "dropdown-item" })
                                    <div class="dropdown-divider"></div>
                                    @Html.ActionLink("Saved Schedule", "SavedSchedule", "FinalShifts", null, new { @class = "dropdown-item" })
                                    <div class="dropdown-divider"></div>
                                    @Html.ActionLink("Fixed-Shifts", "Fixed", "FinalShifts", null, new { @class = "dropdown-item" })
                                    <div class="dropdown-divider"></div>
                                    @Html.ActionLink("Employees", "Index", "Employees", null, new { @class = "dropdown-item" })
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ml-auto">
                                @Html.ActionLink("Your Preferences", "Index", "ShiftPrefs")
                            </li>
                        }
                    }

                    @if (System.Web.HttpContext.Current.Session["admin"] != null)
                    {
                        if ((bool)System.Web.HttpContext.Current.Session["admin"] == true)
                        {
                            <li class="nav-item dropdown ml-auto">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: black;display: inline;">Schedule</a>
                                <div class="dropdown-menu" x-placement="bottom-start" style="position:absolute; will-change: transform;">
                                    @Html.ActionLink("Next Week's Schedule", "Index", "FinalShifts", null, new { @class = "dropdown-item" })
                                    <div class="dropdown-divider"></div>
                                    @Html.ActionLink("This Week's Schedule", "LastWeek", "History", null, new { @class = "dropdown-item" })
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ml-auto">
                                @Html.ActionLink("This Week's Schedule", "LastWeek", "History")
                            </li>
                        }
                    }

                    <li class="nav-item ml-auto">
                        @if (System.Web.HttpContext.Current.Session["admin"] != null)
                        {
                            if ((bool)System.Web.HttpContext.Current.Session["admin"] == true)
                            {
                                @Html.ActionLink("History", "Index", "History")
                            }
                            else
                            {
                                @Html.ActionLink("Next Week's Schedule", "FShiftsForEmployees", "History")
                            }
                        }
                    </li>

                        <li class="nav-item ml-auto rightsidelog" id="fullscr">
                            @if (System.Web.HttpContext.Current.Session["UserSess"] != null)
                            {
                                @Html.ActionLink("Log Out", "Logout", "Home")
                            }
                            else
                            {
                                @*@Html.ActionLink("Log In", "Index", "Home")*@
                            }
                        </li>
                        <li class="nav-item ml-auto namestyle rightsidename" id="fullscr2">
                            @if (System.Web.HttpContext.Current.Session["UserSess"] != null)
                            {
                                <strong>Howdy @Html.Encode(Session["UserSess"]) !</strong>
                            }
                        </li>
 
                </ul>
                </div>
        </div>
    </div>
    <br /><br />
    <div class="container body-content">
        @RenderBody()
        <hr style="width:100%;margin-top:15%;" />
        <footer>
            <p>&copy; @DateTime.Now.Year - Gabriella <i class="fab fa-studiovinari"></i> </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("slow");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
</body>
</html>
