@model IEnumerable<ShiftManagerProject.Models.History>

@{
    ViewBag.Title = "FShiftsForEmployees";
    Layout = "~/Views/Shared/_Layout.cshtml";

    DateTime nextSunday = DateTime.Now.AddDays(1);
    while (nextSunday.DayOfWeek != DayOfWeek.Sunday)
    { nextSunday = nextSunday.AddDays(1); }
    var NextWeek = Convert.ToDateTime(nextSunday).ToString("dd/MM/yyyy");

    int counter = 1;

    List<string> WeekDay = new List<string>(new string[] { "", "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" });
}
<link rel="stylesheet" type="text/css" href="~/Content/EmployViewSchedules.css" />
@if (ViewBag.ShiftUpdate != 0)
{
    <h3 class="msg">Shifts haven't been updated yet</h3>
}
else
{
    <br /><br />
    <h2>Next Week's Shifts - @NextWeek</h2>
    <br /><br />
    <div class='table-responsive'>
        <table id="tablePreview" class="table table-hover table-bordered table-condensed">
            <tr class="table-active tblheader">
                <th>
                </th>
                @foreach (var item in Model.Select(x => x.Day).Distinct())
                {
                    <th>
                        @Html.DisplayFor(x => item)
                    </th>
                }
            </tr>

            <tr>
                <td class="table-info bold shifts">
                    @Html.DisplayNameFor(model => model.Morning)
                </td>

                @foreach (var day in Model.Select(x => x.Day).Distinct())
                {
                <td class="tbl">
                    @foreach (var Mshift in Model.Where(x => x.Day == WeekDay[counter] && x.Morning == true).OrderBy(m => m.OfDayType).ToList())
                    {
                        if (Mshift.Name.IsEmpty())
                        {
                            @Html.Label("")
                        }
                        else
                        {
                            if ((string)System.Web.HttpContext.Current.Session["UserSess"] == Mshift.Name)
                            {
                                <mark>
                                    @Html.Label(Mshift.Name)
                                </mark>
                            }
                            else
                            {
                                @Html.Label(Mshift.Name)
                            }
                        }
                        <br />
                    }
                </td>
                    counter++;
                }
            </tr>

            @{ counter = 1; }

            <tr>
                <td class="table-info bold shifts">
                    @Html.DisplayNameFor(model => model.Afternoon)
                </td>


                @foreach (var day in Model.Select(x => x.Day).Distinct())
                {
                <td class="tbl">
                    @foreach (var Mshift in Model.Where(x => x.Day == WeekDay[counter] && x.Afternoon == true).OrderBy(m => m.OfDayType).ToList())
                    {
                        if (Mshift.Name.IsEmpty())
                        {
                            @Html.Label("")
                        }
                        else
                        {
                            if ((string)System.Web.HttpContext.Current.Session["UserSess"] == Mshift.Name)
                            {
                                <mark>
                                    @Html.Label(Mshift.Name)
                                </mark>
                            }
                            else
                            {
                                @Html.Label(Mshift.Name)
                            }
                        }
                        <br />
                    }
                </td>
                    counter++;
                }
            </tr>

            @{ counter = 1; }

            <tr>
                <td class="table-info bold shifts">
                    @Html.DisplayNameFor(model => model.Night)
                </td>


                @foreach (var day in Model.Select(x => x.Day).Distinct())
                {
                <td class="tbl">
                    @foreach (var Mshift in Model.Where(x => x.Day == WeekDay[counter] && x.Night == true).OrderBy(m => m.OfDayType).ToList())
                    {
                        if (Mshift.Name.IsEmpty())
                        {
                            @Html.Label("")
                        }
                        else
                        {
                            if ((string)System.Web.HttpContext.Current.Session["UserSess"] == Mshift.Name)
                            {
                                <mark>
                                    @Html.Label(Mshift.Name)
                                </mark>
                            }
                            else
                            {
                                @Html.Label(Mshift.Name)
                            }
                        }
                        <br />
                    }
                </td>
                    counter++;
                }
            </tr>
        </table>
    </div>
}
<br /><br />



