@model IEnumerable<ShiftManagerProject.Models.History>

@{
    ViewBag.Title = "LastWeek";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime lastSunday = DateTime.Now;
    while (lastSunday.DayOfWeek != DayOfWeek.Sunday)
    { lastSunday = lastSunday.AddDays(-1); }
    var lastSundays = Convert.ToDateTime(lastSunday).ToString("dd/MM/yyyy");

    int counter = 1;

    List<string> WeekDay = new List<string>(new string[] { "", "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" });
}
<link rel="stylesheet" type="text/css" href="~/Content/EmployViewSchedules.css" />
@if (ViewBag.ShiftUpdate != 0)
{
    <h3 class="msg">No Shifts Available</h3>
}
else
{
    <br /><br />
    <h2>Your shifts for Week - @lastSundays</h2>
    <br /><br />

    <div class='table-responsive'>
        <table id="tablePreview" class="table table-hover table-bordered table-condensed">
            <tr class="table-active tblheader">
                <th>
                </th>
                @foreach (var item in Model.Select(x => x.Day).Distinct())
                {
                    <th>
                        @Html.DisplayFor(x => item)
                    </th>
                }
            </tr>

            <tr>
                <td class="table-info bold">
                    @Html.DisplayNameFor(model => model.Morning)
                </td>

                @foreach (var day in Model.Select(x => x.Day).Distinct())
                {
                    <td class="tbl">
                        @foreach (var Mshift in Model.Where(x => x.Day == WeekDay[counter] && x.Morning == true).OrderBy(m => m.OfDayType).ToList())
                        {
                            if (Mshift.Name.IsEmpty())
                            {
                                @Html.ActionLink("Update", "Edit", new { id = Mshift.ID }, new { @class = "badge badge-danger" })
                            }
                            else
                            {
                                @Html.ActionLink(Mshift.Name, "Edit", new { id = Mshift.ID }, new { @class = Mshift.Name })
                            }
                            <br />
                        }
                    </td>
                    counter++;
                }
            </tr>

            @{ counter = 1; }

            <tr>
                <td class="table-info bold">
                    @Html.DisplayNameFor(model => model.Afternoon)
                </td>


                @foreach (var day in Model.Select(x => x.Day).Distinct())
                {
                    <td class="tbl">
                        @foreach (var Mshift in Model.Where(x => x.Day == WeekDay[counter] && x.Afternoon == true).OrderBy(m => m.OfDayType).ToList())
                        {
                            if (Mshift.Name.IsEmpty())
                            {
                                @Html.ActionLink("Update", "Edit", new { id = Mshift.ID }, new { @class = "badge badge-danger" })
                            }
                            else
                            {
                                @Html.ActionLink(Mshift.Name, "Edit", new { id = Mshift.ID }, new { @class = Mshift.Name })
                            }
                            <br />
                        }
                    </td>
                    counter++;
                }
            </tr>

            @{ counter = 1; }

            <tr>
                <td class="table-info bold">
                    @Html.DisplayNameFor(model => model.Night)
                </td>


                @foreach (var day in Model.Select(x => x.Day).Distinct())
                {
                    <td class="tbl">
                        @foreach (var Mshift in Model.Where(x => x.Day == WeekDay[counter] && x.Night == true).OrderBy(m => m.OfDayType).ToList())
                        {
                            if (Mshift.Name.IsEmpty())
                            {
                                @Html.ActionLink("Update", "Edit", new { id = Mshift.ID }, new { @class = "badge badge-danger" })
                            }
                            else
                            {
                                @Html.ActionLink(Mshift.Name, "Edit", new { id = Mshift.ID }, new { @class = Mshift.Name })
                            }
                            <br />
                        }
                    </td>
                    counter++;
                }
            </tr>
        </table>
    </div>
}
<br /><br />



