@model IEnumerable<ShiftManagerProject.Models.SavedSchedule>


@{
    ViewBag.Title = "SavedSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 1;

    List<string> WeekDay = new List<string>(new string[] { "", "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" });
}

<h2 class="title">Saved Schedule</h2>

<link rel="stylesheet" type="text/css" href="~/Content/FinalShiftIndex.css" />
<br /><br />

@if (@ViewBag.msg == 0)
{
    <h3 class="fontheader title">Saved schedule doesn't match the parameter format</h3>
}
else
{
    <div class='table-responsive'>
        <table id="tablePreview" class="table table-hover table-bordered table-condensed">
            <tr class="table-active">
                <th>
                </th>
                @foreach (var item in Model.Select(x => x.Day).Distinct())
                {
                    <th>
                        @Html.DisplayFor(x => item)
                    </th>
                }
            </tr>

            <tr>
                <td class="table-info bold">
                    @Html.DisplayNameFor(model => model.Morning)
                </td>

                @foreach (var day in Model.Select(x => x.Day).Distinct())
                {
                    <td class="tbl">
                        @foreach (var Mshift in Model.Where(x => x.Day == WeekDay[counter] && x.Morning == true).OrderBy(m => m.OfDayType).ToList())
                        {
                            if (Mshift.Name.IsEmpty())
                            {
                                @Html.Label(" ")
                            }
                            else
                            {
                                @Html.Label(Mshift.Name)
                            }
                            <br />
                        }
                    </td>
                    counter++;
                }
            </tr>

            @{ counter = 1; }

            <tr>
                <td class="table-info bold">
                    @Html.DisplayNameFor(model => model.Afternoon)
                </td>


                @foreach (var day in Model.Select(x => x.Day).Distinct())
                {
                    <td class="tbl">
                        @foreach (var Mshift in Model.Where(x => x.Day == WeekDay[counter] && x.Afternoon == true).OrderBy(m => m.OfDayType).ToList())
                        {
                            if (Mshift.Name.IsEmpty())
                            {
                                @Html.Label(" ")
                            }
                            else
                            {
                                @Html.Label(Mshift.Name)
                            }
                            <br />
                        }
                    </td>
                    counter++;
                }
            </tr>

            @{ counter = 1; }

            <tr>
                <td class="table-info bold">
                    @Html.DisplayNameFor(model => model.Night)
                </td>


                @foreach (var day in Model.Select(x => x.Day).Distinct())
                {
                    <td class="tbl">
                        @foreach (var Mshift in Model.Where(x => x.Day == WeekDay[counter] && x.Night == true).OrderBy(m => m.OfDayType).ToList())
                        {
                            if (Mshift.Name.IsEmpty())
                            {
                                @Html.Label(" ")
                            }
                            else
                            {
                                @Html.Label(Mshift.Name)
                            }
                            <br />
                        }
                    </td>
                    counter++;
                }
            </tr>
        </table>
        <br />
    </div>
}
@if (@ViewBag.admin != 0)
{
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-9">
            </div>
            <div class="col">
                <h3 class="fontheader">Submitted!</h3>
            </div>
        </div>
    </div>
}
else if (ViewBag.msg != 0)
{

    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-11">
                @Html.ActionLink("Submit", "SaveTheSchedule", "FinalShifts", new { id = true }, new { @class = "btn btn-success SubmitSch" })
            </div>
        </div>
    </div>
}
<br /><br />
